<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Thalia centurion drinking game</title>
</head>
<body>


<div class="welcome" style="margin-right: auto; margin-left: auto; padding-top: 10%">
    <H1>Welcome to the Thalia centurion website!</H1>
</div>
<form class="w3-container w3-center w3-mobile">
    <p style="color: white; margin-bottom: 2%; font-size: 20px">What chat room would you like to enter?</p>
    <input id="room-name-input" class="w3-input w3-border-0 w3-round-large" style="width: 10%; text-align: center; display: inline-block" type="text"><br>
    <input id="room-name-submit" class="w3-button" style="background-color: white; color: #e62272; margin-top:2%" type="button" value="Enter">
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/room/' + roomName + '/';
        };
    </script>
</form>
</div>
</body>
</html>